<header class="flex fixed top-0 w-full justify-between items-center px-5 py-3 z-1000 backdrop-blur">
    <%= link_to root_path, class: "text-3xl font-bold text-black" do %>
    <%= image_tag "icon.png", alt: "Logo de RecordsOnRails", class: "inline h-8 w-8 mr-2" %>
    <span class="text-(--accent)">Records</span>OnRails
    <% end %>
    <nav class="space-x-4">
        <% if helpers.user_signed_in? %>
        <span>Signed in as <%= @user.email %></span>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-[var(--accent)] cursor-pointer" %>
        <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-[var(--accent)]" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "text-[var(--accent)]" %>
        <% end %>
    </nav>
</header>