<div class="border p-4 rounded bg-gray-50">
  <div>
    <%= f.label :product_id, "Producto" %>
    <%= f.collection_select :product_id, Product.all, :id, :name,
          { prompt: "Seleccionar producto" },
          class: "border rounded p-2 w-full #{'border-red-500' if f.object.errors[:product_id].any?}" %>
    <% if f.object.errors[:product_id].any? %>
      <p class="text-red-600 text-sm mt-1"><%= f.object.errors[:product_id].first %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :quantity, "Cantidad" %>
    <%= f.number_field :quantity, step: 1, min: 1,
          class: "border rounded p-2 w-full #{'border-red-500' if f.object.errors[:quantity].any?}" %>
    <% if f.object.errors[:quantity].any? %>
      <p class="text-red-600 text-sm mt-1"><%= f.object.errors[:quantity].first %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :unit_price, "Precio unitario" %>
    <%= f.number_field :unit_price, step: 0.01, min: 0,
          class: "border rounded p-2 w-full #{'border-red-500' if f.object.errors[:unit_price].any?}" %>
    <% if f.object.errors[:unit_price].any? %>
      <p class="text-red-600 text-sm mt-1"><%= f.object.errors[:unit_price].first %></p>
    <% end %>
  </div>
  
  <%= f.hidden_field :_destroy %>
  <button type="button" class="remove-item bg-red-600 text-white px-2 py-1 rounded mt-2">
    Eliminar
  </button>
</div>


