<%= extends :application do %>
<aside class="w-64 h-full fixed top-16 left-0 bg-white text-gray-800 shadow-lg flex flex-col">
    <nav class="flex flex-col flex-1 p-4 space-y-2">
        <%= link_to "Productos", products_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <%= link_to "Categorías", "#categorias", class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <% unless current_user&.employee? %>
        <%= link_to "Usuarios", admin_users_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <% end %>
        <%= link_to "Ventas", sales_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <%= link_to "Ventas por Mes", sales_summary_reports_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <%= link_to "Top Productos", top_products_reports_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
        <%= link_to "Ventas por Empleado", sales_by_employee_reports_path, class: "block px-4 py-2 rounded-lg hover:bg-gray-100 transition" %>
    </nav>
</aside>
<div class="ml-64 p-8">
    <%= yield %>
</div>

<% end %>