<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Store">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <p class="notice absolute top-0"><%= notice %></p>
    <p class="alert absolute top-0"><%= alert %></p>
    <header class="flex fixed top-0 w-full justify-between items-center px-5 py-3 z-10 bg-white shadow">
      <%= link_to "Store", root_path, class: "text-2xl font-bold text-[var(--accent)]" %>
      <nav class="space-x-4">
        <% if user_signed_in? %>
          <span>Signed in as <%= current_user.email %></span>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-[var(--accent)]" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-[var(--accent)]" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-[var(--accent)]" %>
        <% end %>
      </nav>
    </header>

    <!-- Con esto el contenido de otras views no debería quedar abajo -->
    <main class="container mx-auto px-5 flex pt-16">
      <%= yield %>
    </main>
  </body>
</html>