<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "RecordsOnRails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="RecordsOnRails">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.ico', type: 'image/x-icon' %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">
</head>

<% if flash[:toast].present? %>
<% toast_data = flash[:toast].is_a?(Hash) ? flash[:toast].with_indifferent_access : {} %>
<script>
    document.addEventListener('turbo:load', function() {
        toast('<%= j toast_data[:message] %>', {
            type: '<%= toast_data[:type] || "default" %>',
            description: '<%= j toast_data[:description].to_s %>'
        });
    }, {
        once: true
    });
</script>
<% end %>

<% if notice.present? %>
<script>
    document.addEventListener('turbo:load', function() {
        toast('<%= j notice %>', {
            type: 'success'
        });
    }, {
        once: true
    });
</script>
<% end %>

<% if alert.present? %>
<script>
    document.addEventListener('turbo:load', function() {
        toast('<%= j alert %>', {
            type: 'error'
        });
    }, {
        once: true
    });
</script>
<% end %>

<body>
    <%= render "shared/toast_container" %>
    <%= render TopbarComponent.new(user: current_user) %>
    <main class="flex flex-col w-full max-w-full pt-12 overflow-x-hidden">
        <%= yield %>
    </main>
</body>

</html>